* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* ::before,
* ::after {
  margin: inherit;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-image: url("img/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.content-wrapper {
  font-size: 3rem;
  color: aliceblue;
  text-align: center;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#score {
  width: 300px;
  font-size: 1.2rem;
  background-color: rgba(0, 102, 255, 0.1);
  border-radius: 15px;
  text-align: center;
}

#score h1,
#score h2,
#score h3,
#score h4,
#score h5,
#score h6,
#score p {
  color: aliceblue;
  margin-top: 2rem;
}

#score p {
  font-size: 2rem;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
}

#question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: aliceblue;
  text-shadow: 1px 2px #000;
  width: 1000px;
  height: 600px;
  font-size: 1.8rem;
  border-radius: 31px;
  background: rgba(14, 42, 71, 0.5);
  -webkit-box-shadow: inset 7px 7px 16px #091b2e, inset -7px -7px 16px #133960;
          box-shadow: inset 7px 7px 16px #091b2e, inset -7px -7px 16px #133960;
  -webkit-animation: fadeIn 5s;
          animation: fadeIn 5s;
}

#answers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  margin: 3rem 0 3rem 0;
}

#answers div {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  background-color: rgba(0, 102, 255, 0.1);
  border-radius: 50px;
  font-size: 1.5rem;
  margin: 0.5rem 1.5rem 0.5rem 1.5rem;
  padding: 1rem 2rem 1rem 2rem;
}

#answers div:hover {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  color: green;
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
}

#answers div:active {
  -webkit-box-shadow: inset 1px 5px 10px #000;
          box-shadow: inset 1px 5px 10px #000;
}

#next {
  width: 200px;
  padding: 1.5rem 2.5rem 1.5rem 2.5rem;
}

#start {
  width: 200px;
  background-color: rgba(51, 255, 0, 0.2);
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 20px #000;
          box-shadow: 0px 0px 20px #000;
  font-size: 1.2rem;
  padding: 1.5rem 2.5rem 1.5rem 2.5rem;
  margin-right: 2rem;
}

.answerCorrect {
  background-color: green;
  -webkit-animation: blink 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
          animation: blink 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}

.pointer-events {
  pointer-events: none;
}

@-webkit-keyframes blink {
  0% {
    background-color: rgba(0, 102, 255, 0.3);
  }
  50% {
    background-color: green;
  }
  100% {
    background-color: rgba(0, 102, 255, 0.3);
  }
}

@keyframes blink {
  0% {
    background-color: rgba(0, 102, 255, 0.3);
  }
  50% {
    background-color: green;
  }
  100% {
    background-color: rgba(0, 102, 255, 0.3);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.currentMoney {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
}

.currentMoney::before {
  content: '';
  position: absolute;
  top: -70%;
  left: 0;
  width: 0px;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #3389d9;
}

.currentMoney::after {
  content: '';
  position: absolute;
  top: -70%;
  right: 0;
  width: 0px;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 15px solid #3389d9;
  border-bottom: 15px solid transparent;
  border-left: 15px solid transparent;
}
/*# sourceMappingURL=style.css.map */